.footer{
        background-color: red;
        width: 100vw; 
        height: 200px;
        display: flex; 
        align-items: center; 
        justify-content: center;
        text-align: center;
        bottom: 0;
}
.copyRight{
    color:white;
}