@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@600&family=Roboto+Serif:opsz,wght@8..144,300&display=swap');

/*font-family: 'Roboto Serif', serif;*/

.header {
    background-color: white;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px lightgray solid;
    padding: 20px;
    
}

.searchBox{
    display:flex;
    align-items: center;
    padding:5px;
    background-color: #f2f2f2;
    border-radius: 5px;

}

.crossIcon{
    margin-right: 5px;;
}

.logo {
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 2px;
    color: #f02c36;;
    font-family: 'Roboto Serif', serif;
    text-shadow: 3px 3px black;
}

.link {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    font-family:'Roboto Serif', serif;
    color: black;
}

.link:hover {
    font-weight: 600;
}

.linkContainer {
    width: 25vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: -50px;
}